<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <header>
      <div class="container" id="title-bar">
        <div class="logo">TEST</div>
        <nav id="nav-bar">
          <a href="/"><span>Home</span></a>
          <a href="/about"><span>About</span></a>
        </nav>
      </div>
    </header>
    <main>
        <div class="container">
        
